<h3>Les derniers articles</h3>

<ul class="nav nav-pills nav-stacked">
    {% for article in list %}
        <li>
            <a href="{{ path('sdz_blog_view', {'id':article.id}) }}">{{ article.title }}</a>
        </li>
    {% endfor %}
</ul>