{% extends "SdzBlogBundle::blog/layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter un article{% endblock %}

{% block sdzblog_body %}
    <h2>Ajouter un article</h2>

    {% include "SdzBlogBundle:Blog:form.html.twig" %}

{% endblock %}
