<!DOCTYPE html>
<html lang="fr">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {# Les messages flashbag #} {% for message in app.session.flashbag.get('info') %}
    <p>{{ message }}</p>
    {% endfor %}

    <p>
        Ici nous pourrons lire l'article ayant comme id : {{ id }}
        <br /> Mais pour l'instant, nous ne savons pas encore le faire, cela viendra
    </p>
</body>

</html>