{# <!DOCTYPE html>
<html lang="fr">

<head>
    <title>Edit Article</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

</body>

</html> #}

{# {% extends "::base.html.twig" %} #}
{% extends "SdzBlogBundle::blog/layout.html.twig" %}

{% block title %} {{ parent() }} - edition d'article {% endblock %}

{% block body %}
    <h2>Edition d'article</h2>
    {% include("SdzBlogBundle:Blog:form.html.twig") %}

{% endblock %}