{# Template final edit.html.twig #}

{% extends "SdzBlogBundle::blog/layout.html.twig" %}

{% block title %} Edit Article - {{ parent() }}  {% endblock %}

{% block sdzblog_body %}

    <h2>Edition d'un article</h2>

    {% include("SdzBlogBundle:Blog:form.html.twig") %}

    <p>
        Vous éditez un article déjà existant, ne le changer pas trop pour éviter aux membres de ne pas comprendre ce qu'il se passe.
    </p>

    <p>
        <a href="" class="btn"><i class="icon-chevron-left"></i>Retour à l'article</a>
    </p>

{% endblock %}