{# Template final index.html.twig #}

{% extends "SdzBlogBundle::blog/layout.html.twig" %}

{% block sdzblog_body %}
    <h2>Liste des articles</h2>

    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('sdz_blog_view', {'id':article.id}) }}">Par {{ article.author }} - {{ article.title }}, publié le {{ article.date|date('d/m/Y H:i:s') }}</a>
            </li>
        {% else %}
            <li>Pas d'articles</li>
        {% endfor %}
    </ul>
{% endblock %}
