{# layout du bundle #}

{% extends "::base.html.twig"%}

{% block title %} Blog - {{ parent() }} {% endblock %}

{% block body %}

    {# Sous-titres commun à toutes les pages du bundle #}
    <h1>Blog</h1>

    <hr>

    {# Nouveau block implémentable par les vues du bundle #}
    {% block sdzblog_body %}
    {% endblock %}

{% endblock %} 