{# <!DOCTYPE html>
<html lang="fr">

<head>
    <title>
        {% block title %}Sdz Blog{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html> #}

{% extends "::base.html.twig"%}

{% block title %} {{ parent() }} - Sdz Blog {% endblock %}
{# 
{% block menu %}   
{% endblock %} #}

{% block content %}
    
{% endblock %}